.anjuta/
.anjuta_sym_db.db
INSTALL
Makefile
Makefile.in
TODO.tasks
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing
*.anjuta
*.in
*.o
*.exe
*.mdb
*.dll
Makefile
/mono-webkit/AssemblyInfo.cs
